<nav class="navbar navbar-expand-md fixed-top">
  <!-- Container to hold the navbar content -->
  <div class="container">
    <!-- Title aligned to the left -->
    <h4 id="nav-title">Expense Tracker</h4>
    <!-- logo link  leading to the homepage -->

    <!-- Button to toggle navbar collapse on smaller screens -->
    <!-- data bs-toggle uses Bootstrap data attribute to specify the behavior when clicked, in this case, toggling the collapse -->
    <!-- data-bs-target="#navbarNav specifies the target element to be collapsed or expanded when the button is clicked -->
    <!-- class="navbar-toggler" assigns the class navbar-toggler to style the button according to the navbar toggle design -->
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <!--displays navbar toggler icon whe page collapses-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- collapse This class is part of Bootstrap and indicates that the element should collapse when the toggle button is clicked on smaller screens. -->
    <!--avbar-collapse: This class contains the content that collapses and expands with the toggle button. -->

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- This class styles the unordered list (<ul>) as a navbar navigation list. -->
      <!-- ms-auto: This class, part of Bootstrap, aligns the navbar navigation list to the right.-->
      <ul class="navbar-nav ms-auto">
        <!-- nav-item styles the list item as a navigation item within the navigation bar-->

        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--end Bootstrap styled navbar-->
