<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="/script.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar1') %>
    <div style="height: 100px"></div>
    <!-- Form for user registration. This form sends a POST request to the /auth/register route when submitted -->
    <div class="container">
      <form action="/auth/register" method="POST">
        <div class="mb-3">
          <!-- Label for the email input field -->
          <label for="name" class="form-label">Name</label>
          <!-- Input field for the user to enter their name -->
          <input type="text" class="form-control" id="name" name="name" />
          <!-- 
      When the form is submitted, the value entered in this input field 
      is sent to the backend. The 'name' attribute ('email') specifies 
      the key under which this value will be available in the backend. 
      For example, in Express.js, you can access this value using req.body.email 
       if body parsing middleware is set up. Same applies for all other inputs
      -->
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
          <label for="passwordConfirm" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="passwordConfirm"
            name="passwordConfirm"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Register User</button>
        </div>
        <% if (typeof message !== 'undefined' && message) { %>
        <div class="d-flex p-0">
          <!-- Message will display in a box beneath password in red. alert = red -->
          <div class="alert alert-danger mt-2" role="alert"><%= message %></div>
        </div>
        <% } %>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
