
#navbar {
    background-color: rgb(180, 98, 98)  ;
}

.nav-link {
    color: rgb(78, 67, 67) ;
}





form{

    padding: 20px;
}
#container{

    padding: 20px;
    background-color: rgb(227, 202, 202);
}
#form-group{

    margin-top: 20px;
}


